@charset "utf-8";
/* CSS Document */


div,ul,li,a,body{
	text-decoration:none;
	list-style:none;
	padding:0;
	margin:0;
}

body{
	background:#f0f3ef;
}

#div{
	width:100%;
	height:100px;
	background:red;
	position:relative;
}

#close{
	position:absolute;
	top:20px;
	right:20px;
	color:#CCC;
}

#close:hover{
	color:white;
}

#top{
	width:100%;
	height:170px;
}

.top_bg{
	width:100%;
	height:30px;
	background:#e3e4e5;
}
